
{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Name</label>
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            <small id="" class="text-danger">
                {{ form_errors(form.name) }}
            </small>
        </div>
    </div>
    <div class="form-group">
        <label> Cuard Name </label>
        <div class="row" >
            <div class="col-md-10" >
                {{ form_widget(form.guardName, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-2" >
                <button id="permission_refresh" type="button" class="btn btn-info"><i class="fa fa-sync" aria-hidden="true"></i></button>
            </div>
        </div>
        <small id="" class="text-danger">
            {{ form_errors(form.guardName)}}
        </small>
    </div>

{{ form_rest(form) }}
<div class="col-md-12">
    <a href="{{path('admin_users')}}" class="btn btn-info float-left" type="button"> Retour a la liste </a>
    <button class="btn btn-primary float-right" type="submit"> Sauvegarder</button>
</div>
{{ form_end(form) }}